.on {
 top: 15%;
}

.off {
 top: 47%;
}

.circle {
  height: 71px;
  width: 71px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
  left: 70px;
  position: absolute;
}

.semaphore {
  z-index: 0;
}

.content {
  position: relative;
}
